#bigI{
    height: 90px;
    margin-top: 3%;
    margin-left: 38%;
    width: fit-content;
    font-weight: bolder;
    font-size: 40px;
    }

h3style, #bigI{
    font-family: 'Playfair Display', serif;
      }

 .repic{
    max-width: 100%;
    min-width: 428.91px;
    height: auto;
    
        
    }

#TMVT{
    background-color: rgb(10, 10, 10);
    height: 80px;
    color: rgb(226, 223, 6);
    font-weight: bold;
    font-size: 40px;
    width: 100%;
     }

.mb-3, .my-5, .ml-5 {
    margin-bottom: 3rem!important;
    margin-top: 3rem!important;
    }

